.root{
    font-family: 'Roboto', 'Roboto Slab', 'Source Sans Pro', 'Arial', sans-serif;
    padding-bottom: 0px;

    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}
.content{
    background-color: white;
    min-height: 80vh;
}
.cursor-link{
    cursor: url(../../images/hand.png), pointer; 
}
